.header {
  @include flexWrap(space-between, center);
  flex-direction: row;
  padding: 2rem 2.5rem;
  margin-top: 1rem;
  background-color: $primary-color;
  border: $border;
  border-radius: $border-radius;
  font-family: $primary-font;
  &__logo {
    font-size: 3rem;
    color: $primary-font-color;
    text-shadow: 2px 1px 2px black;
  }
}
#time {
  padding: 0.5rem;
  border-radius: $border-radius;
  border: $border;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .header {
    @include flexWrap(space-around, center);
    flex-wrap: wrap;
    text-align: center;
  }
}
