@import '../../scss/config/index.scss';

.task {
  border: $border;

  &header,
  &footer,
  &description {
    padding: 15px;
  }

  &header {
    margin-bottom: 10px;
    background-color: inherit;

    font-weight: bold;
  }
  &title {
    margin-bottom: 20px;
  }
  &controls {
    @include flexWrap(space-between, center);
    gap: 20px;
  }
  &btn {
    border: $border;
    border-radius: $border-radius;
    text-align: center;
    padding: 5px 10px;
    font-weight: inherit;
    background-color: $button-color;
  }
  &description {
    text-align: justify;
  }
  &footer {
    @include flexWrap(space-between, center);
  }
}
@import '../../scss/config/index.scss';

.task {
  border: $border;

  &header,
  &footer,
  &description {
    padding: 15px;
  }

  &header {
    margin-bottom: 10px;
    background-color: inherit;

    font-weight: bold;
  }
  &title {
    margin-bottom: 20px;
  }
  &controls {
    @include flexWrap(space-between, center);
    gap: 20px;
  }
  &btn {
    border: $border;
    border-radius: $border-radius;
    text-align: center;
    padding: 5px 10px;
    font-weight: inherit;
    background-color: $button-color;
  }
  &description {
    text-align: justify;
  }
  &footer {
    @include flexWrap(space-between, center);
  }
}
@import '../../scss/config/index.scss';

.task {
  border: $border;

  &header,
  &footer,
  &description {
    padding: 15px;
  }

  &header {
    margin-bottom: 10px;
    background-color: inherit;

    font-weight: bold;
  }
  &title {
    margin-bottom: 20px;
  }
  &controls {
    @include flexWrap(space-between, center);
    gap: 20px;
  }
  &btn {
    border: $border;
    border-radius: $border-radius;
    text-align: center;
    padding: 5px 10px;
    font-weight: inherit;
    background-color: $button-color;
  }
  &description {
    text-align: justify;
  }
  &__footer {
    @include flexWrap(space-between, center);
  }
}