$primary-color: #6ce4cf;
$secondary-color: #7f7fcf;
$additional-color: #d5d5d5;
$primary-font-color: white;
$border: 3px solid #000;
$border-radius: 10px;
$primary-font: 'Leckerli One', cursive;
