$primary-color: #68cfc3;
$secondary-color: #7f7fcf;
$bg-color: #d5d5d5;
$button-color: #6ce4a5;

$border: 3px solid #000;
$border-radius: 10px;

$todo-stage: #6ccfe4;
$in-progress-stage: #e4cf6c;
$done-stage: #06997a;
$primary-font: 'Leckerli One', cursive;

